.product__item {
  border-radius: 10px;
  padding: 10px;
  outline: 1px solid transparent;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.product__img {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.product__info h3{
  font-size: 1rem;
  color: var(--primary-color);
  font-weight: 600;
  margin-top: 15px;
}

.product__item a:hover {
  color: inherit;
}

.product__info span {
  font-size: 0.9rem;
}

.product__info h3:hover{
  color: #5ab680;
}

.product__card-bottom .price {
  color: var(--primary-color);
  font-size: 1.3rem;
  font-weight: 500;
  cursor: default;
}

.product__card-bottom span i {
  font-size: 1.2rem;
  padding: 5px;
  background: var(--primary-color);
  color: #fff;
  border-radius: 50px;
  cursor: pointer;
}
